/* nav */
nav a, nav input[type="search"] + button[type="submit"] {
    background-color: #ff8c42 !important;
    color: #ffffff !important;
    border-color: #ff8c42 !important;
    margin: 4px 0 !important;
}

nav a:hover, nav input[type="search"] + button[type="submit"]:hover, header nav button[type="submit"]:hover {
    background-color: #CD5E17 !important;
    border-color: #CD5E17 !important;
    color: #ffffff !important;
}

.btn-naranja {
    background-color: #ff8c42;
    color: #ffffff;
    border: none;
}

.btn-naranja:hover {
    background-color: #c44e00;
    color: #ffffff;
}

/* form */
#nueva_publicacion > h2 {
    background-color: #eed7c0;
    font-size: 1.5rem;
    border-left: 4px solid #8c5a3c;
    padding-left: 0.75rem;
}

section > details summary:hover {
    background-color: #70452d;
}

section > details summary::before {
    content: "+";
    font-size: medium;
    font-weight: bold;
}

section > details[open] summary::before {
    content: "x";
    font-size: small;
    font-weight: bold;
}

form input:is([type="text"], [type="email"], [type="file"], [type="number"]):user-valid, form textarea:user-valid,
form select:user-valid {
    background-color: #edf7ee;
    border-color: #4ade80;
}

form input:is([type="text"], [type="email"], [type="file"], [type="number"]):user-invalid,
form textarea:user-invalid, form select:user-invalid {
    background-color: #ffe5e5;
    border-color: #dc3545;
}

#productos_publicados ul li article .card-body > h3 {
    color: #B85014;
}